In [7]:
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

Ans:

def is_symmetrical(n):
    if str(n) == str(n)[::-1]:       
        return True
    else:
        return False

In [12]:
is_symmetrical(7227),is_symmetrical(12567),is_symmetrical(44444444)

(True, False, True)

In [36]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

Ans :
    
def multiply_nums(n):
    a = 1
    for i in n:
        if i.isdigit():
            i = int(i)
            a = a * i
    print('the product is ', a)


#calling Function 

multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

the product is  6
the product is  24
the product is  0
the product is  0

In [44]:
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Ans: 

def square_digits(n):
    n = str(n)
    s = ""
    for i in n:
        a = int(i)
        a = a*a
        s = s + str(a)
    s = int(s)
    print('sqares of digits is ',s)

# Calling Function

square_digits(9119)
square_digits(2483)

sqares of digits is  811181
sqares of digits is  416649

In [49]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Ans:

def setify(n):
    n = set(n)
    n = list(n)
    print('List after removing duplicates ',n)
    
#calling Function

setify([1,6, 3, 3, 5, 5])
setify([4, 4, 4, 4]) 
setify([5, 7, 8, 9, 10, 15])

List after removing duplicates  [1, 3, 5, 6]
List after removing duplicates  [4]
List after removing duplicates  [5, 7, 8, 9, 10, 15]

In [66]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

Ans:

def mean(n):
    res = [int(x) for x in str(n)]
    import statistics
    b = statistics.mean(res)
    print('the mean of given all digits are ',b)


mean(42)
mean(12345)
mean(666)

the mean of given all digits are  3
the mean of given all digits are  3
the mean of given all digits are  6